<header>
  <mat-toolbar color="primary">
    <span>Rest Test</span>
    <span class="example-spacer"></span>
    <span
      ><button mat-raised-button (click)="addTest()">
        <mat-icon>add</mat-icon>New Test
      </button></span
    >
  </mat-toolbar>
</header>

<main style="min-height: calc(100% - 128px)">
  <router-outlet></router-outlet>
</main>

<footer>
  <mat-toolbar color="primary" id="footer" style="margin: auto">
    <p style="margin: auto">Hackathon 2022 - Team LLSC - Rest Test</p>
  </mat-toolbar>
</footer>
