<header>
  <mat-toolbar color="primary">
    <span>Rest Test</span>
    <span class="example-spacer"></span>
    <button
      mat-raised-button
      disabled="{{ !enabled }}"
      (click)="changeState()"
      id="record"
    >
      Record
      <mat-icon>fiber_manual_record</mat-icon>
    </button>
    <button
      mat-raised-button
      disabled="{{ enabled }}"
      (click)="changeState()"
      id="stop-record"
    >
      Stop Record
      <mat-icon>stop</mat-icon>
    </button>
  </mat-toolbar>
</header>

<main style="min-height: calc(100% - 128px)">
  <router-outlet></router-outlet>
</main>

<footer>
  <mat-toolbar color="primary" id="footer" style="margin: auto">
    <p style="margin: auto">Hackathon 2022 - Team LLSC - Rest Test</p>
  </mat-toolbar>
</footer>
